.gallery {
  /* display: flex;
  justify-content: space-around;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  /* grid-template-columns: repeat(4, 1fr); */
  /* object-fit: cover; */
}

.gallery > * {
  /* flex: 1;
  flex-basis: 300px; */
  position: relative;
  overflow: hidden;
}
