.cover img {
  height: 100%;
  width: 100%;
}

.cover-overlay {
  transition: bottom 0.4s ease;
  bottom: -100%;
  position: absolute;
  opacity: 0.8;
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.cover:hover .cover-overlay {
  bottom: 0;
}
